# =========================
# Dependencies (Composer)
# =========================
/vendor/
composer.lock

# =========================
# IDE / Editor files
# =========================
/.idea/
/nbproject/
.DS_Store
Thumbs.db

# =========================
# Test & Runtime artifacts
# =========================
/tests/_root/shared/store/*
/coverage/
*.log

# =========================
# Tooling cache files
# =========================
/.php-cs-fixer.cache
/.phpunit.result.cache
/.phpunit.cache
/.cache/