parameters:
    phpVersion: 70400
    level: 4

    paths:
        - src

    ignoreErrors:
        - identifier: trait.unused
          path: src/Model/Traits

    checkNullables: true
    checkUninitializedProperties: true

    checkDynamicProperties: false
    treatPhpDocTypesAsCertain: false